<% divider = false %>
<div class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
        <li><%= link_to('Home', :controller => :main, :action => :index, :remote => true) %></li>
        <% if current_site.show_about == true then %>
        <li class="<%=raw 'active' if session[:menu] == 'ABOUT' %>"><%= link_to('About', :controller => :main, :action => :about, :remote => true) %></li>
        <% end %>
        <% if current_site.menu_options[:contact_on_menu] == true then %>
        <li class="<%=raw 'active' if session[:menu] == 'CONTACT' %>"><%= link_to('Contact', :controller => :main, :action => :contact, :remote => true) %></li>
        <% end %>
        <li class="divider"></li>

<!-- COLLECTIONS -->
        <% if current_site.virtualcollections.publicmenu.count > 0 then %>
        <% divider = true %>
        <li class="dropdown-submenu"><a tabindex="-1" href="#">Collections</a>
        <ul class="dropdown-menu">
        <% current_site.virtualcollections.publicmenu.each do |virtualcollection| %>
            <li>
                <%= link_to(virtualcollection.name, :controller => 'collection', :action => 'index', :id => virtualcollection.cached_slug, :remote => true) %>
            </li>
            <% end %>
        </ul>
        </li>
        <% end %>

<!-- CONDITIONS -->
        <% if current_site.conditions.menu.count > 0 then %>
        <% divider = true %>
        <li class="dropdown-submenu"><a tabindex="-1" href="#">Condition</a>
        <ul class="dropdown-menu">
        <% current_site.conditions.menu.each do |condition| %>
            <li>
                <%= link_to(condition.name, :controller => 'condition', :action => 'index', :id => condition.cached_slug, :remote => true) %>
            </li>
            <% end %>
        </ul>
        </li>
        <% end %>

<!-- ROLODEX -->
        <% if current_site.rolodexes.menu.count > 0 then %>
        <% divider = true %>
        <li class="dropdown-submenu"><a tabindex="-1" href="#">Rolodex</a>
        <ul class="dropdown-menu">
        <% current_site.rolodexes.menu.each do |rolodex| %>
            <li>
                <%= link_to(rolodex.name, :controller => 'rolodex', :action => 'index', :id => rolodex.cached_slug, :remote => true) %>
            </li>
            <% end %>
        </ul>
        </li>
        <% end %>

<!-- FIELDOPTIONS -->
        <% current_site.thingfields.all.each do |thingfield| %>
            <% if thingfield.fieldoptions.menu.count > 0 then %>
                <% divider = true %>
                <li class="dropdown-submenu"><a tabindex="-1" href="#"><%= thingfield.name %></a>
                <ul class="dropdown-menu">
                <% thingfield.fieldoptions.menu.each do |fieldoption| %>
                    <li>
                        <%= link_to(fieldoption.name, :controller => 'fieldoptions', :action => 'index', :id => fieldoption.cached_slug, :remote => true) %>
                    </li>
                <% end %>
                </ul>
            <% end %>
            </li>
        <% end %>

        <% if divider == true then %>
            <li class="divider"></li>
        <% end %>

        <li>
            <%= link_to('Admin', :controller => :main, :action => :login, :remote => true) %>
        </li>

    </ul>



</div>
