<!-- MAIN MENU -->
<div class="well" style="max-width: 300px; padding: 8px 0;">
<ul class="nav nav-list">
<li class="nav-header">Site links</li>
<li class="menu_option <%= 'active' if session[:menu] == 'HOME' %>"><%= link_to('Home', :controller => :main, :action => :index, :remote => true) %></li>
<% if current_site.show_about == true then %>
<li class="menu_option <%= 'active' if session[:menu] == 'ABOUT' %>"><%= link_to('About', :controller => :main, :action => :about, :remote => true) %></li>
<% end %>
<% if current_site.menu_options[:contact_on_menu] == true then %>
<li class="menu_option <%=raw 'active' if session[:menu] == 'CONTACT' %>"><%= link_to('Contact', :controller => :main, :action => :contact, :remote => true) %></li>
<% end %>

<!-- COLLECTIONS -->
<% if current_site.virtualcollections.publicmenu.count > 0 then %>
<li class="nav-header">Collections</li>
<% current_site.virtualcollections.publicmenu.each do |virtualcollection| %>
        <li class="menu_option <%= 'active' if session[:menu] == 'COL_'+virtualcollection.slug %>"><%= link_to(virtualcollection.name, :controller => 'collection', :action => 'index', :id => virtualcollection.slug, :remote => true) %></li>
<% end %>
<% end %>

<!-- CONDITIONS -->
<% if current_site.conditions.menu.count > 0 then %>
<li class="nav-header">Condition</li>
<% current_site.conditions.menu.each do |condition| %>
        <li class="menu_option <%= 'active' if session[:menu] == 'CON_'+condition.slug %>"><%= link_to(condition.name, :controller => 'condition', :action => 'index', :id => condition.slug, :remote => true) %></li>
<% end %>
<% end %>

<!-- ROLODEX -->
<% if current_site.rolodexes.menu.count > 0 then %>
<li class="nav-header">Rolodex</li>
<% current_site.rolodexes.menu.each do |rolodex| %>
        <li class="menu_option <%= 'active' if session[:menu] == 'ROL_'+rolodex.slug %>"><%=link_to(rolodex.name, :controller => 'rolodex', :action => 'index', :id => rolodex.slug, :remote => true) %></li>
<% end %>
<% end %>

<!-- FIELDOPTIONS -->
<% current_site.thingfields.all.each do |thingfield| %>
    <% if thingfield.fieldoptions.menu.count > 0 then %>
        <li class="nav-header"><%= thingfield.name %></li>
        <% thingfield.fieldoptions.menu.each do |fieldoption| %>
            <li class="menu_option <%= 'active' if session[:menu] == thingfield.slug + '_' + fieldoption.slug %>"><%= link_to(fieldoption.name, :controller => 'fieldoptions', :action => 'index', :id => fieldoption.slug, :remote => true) %></li>
        <% end %>
    <% end %>
<% end %>

<li class="nav-header">General</li>
<li class="menu_option"><%= link_to('Admin', :controller => :main, :action => :login, :remote => true) %></li>
</ul>
</div>
<script>
$('.menu_option').click(function() {
    $(".menu_option").removeClass("active");$(this).addClass("active")
});
</script>
