<div id="notice_bar">
<% if current_site.collections_help? then %>
<div class="alert alert-info">
    <%= render :partial => 'settings/collections_help' %>
</div>
<% end %>
</div>

<div style="float:right;">
            <input type="text" class="search-query" id="filter" name="filter" placeholder="Filter">
            <script>
                $('#filter').keyup(function() {
                        pattern = new RegExp($('#filter').val().toLowerCase());
                        $('#collections_table > tbody  > tr').each(function() {
                           if (!pattern.test($(this).html().toLowerCase()) == true) {$(this).hide();}else {$(this).show();}
                    });
                });
            </script>
</div>
<table class="table table-striped table-hover" id="collections_table">
<thead>
    <tr>
        <th>
            Collection
        </th>
        <th>
            Item count
        </th>
        <th>
            Menu
        </th>
        <th>
            Public
        </th>
        <th>
            Action
        </th>
    </tr>
</thead>
<tbody>
<% current_site.virtualcollections.all.each do |collection| %>
<% code = encrypt(collection.id) %>
<tr <%=raw "class='success'" if defined? @new_virtualcollection and collection == @new_virtualcollection %>>
    <td>
        <% if defined? @virtualcollection and collection == @virtualcollection then %>
            <%= text_field_tag 'collection[name]', collection.name %>
        <% else %>
            <%= collection.name %>
        <% end %>
    </td>
    <td align="center">
        <%= collection.things.count %>
    </td>
    <td>
        <% geturl = url_for :controller => 'settings', :action => 'collection_visibility', :id => code %>
        <input type="checkbox" <%=raw ' checked ' if collection.show_on_menu %>" onchange="$.ajax({url : '<%= geturl %>&option=show_on_menu' });">
    </td>
    <td>
        <input type="checkbox" <%=raw ' checked ' if collection.public_visible %> onchange="$.ajax({url : '<%= geturl %>&option=public_visible' });">
    </td>
    <td>
        <% if collection.things.count == 0 then %>

            <% geturl = url_for :controller => 'settings', :action => 'collection_remove', :id => code %>
            <button onclick="$.ajax({url : '<%= geturl %>'});" type="button" class="btn btn-mini btn-danger" style="width:75px;" id="btn_<%=code%>">Remove</button>
        <% else %>
        <% if defined? @virtualcollection and collection == @virtualcollection then %>
            <% geturl = url_for :controller => 'settings', :action => 'collection_update', :id => code %>
            <button onclick="$.ajax({url : '<%= geturl %>&name=' + $('#collection_name').val()});" type="button" class="btn btn-mini btn-info" style="width:75px;" id="btn_<%=code%>">Update</button>
        <% else %>
            <% geturl = url_for :controller => 'settings', :action => 'collection_edit', :id => code %>
            <button onclick="$.ajax({url : '<%= geturl %>'});" type="button" class="btn btn-mini btn-info" style="width:75px;" id="btn_<%=code%>">Edit</button>
        <% end %>
        <% end %>
    </td>
</tr>
<% end %>
</tbody>
<thead>
<tr>
    <td colspan="4">
        <%= form_tag({:controller => :settings, :action => :collection_insert}, :remote => true, :id => 'collection_insert',:authenticity_token => form_authenticity_token ) do |f| %>
        <%= text_field_tag 'collection_name', '' %>
    </td>
    <td>
        <button onclick="$('#collection_insert').submit();return false;" type="button" class="btn btn-mini btn-primary" style="width:75px;" id="insert_button">Insert</button>
        <% end %>
    </td>
</tr>
</thead>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#collection_name").focus();
    });
</script>


