<div id="notice_bar">
<div class="alert alert-info">
    <%= render :partial => 'settings/contact_help' %>
</div>
</div>
<table border="0" width="60%">
	<tr>
		<td>
			Show the contact option on the main menu ?
		</td>
		<td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
            	<% geturl = url_for :controller => 'settings', :action => 'contact_update' %>
                <input type="checkbox" <%=raw ' checked ' if current_site.menu_options[:contact_on_menu] == true %> onchange="$.ajax({url : '<%= geturl %>?contact_on_menu=1'});">
            </div><br/><br/>
		</td>
	</tr>
    <tr>
        <td>
            Send site comments via email ?
        </td>
        <td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
                <% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
                <input type="checkbox" <%=raw ' checked ' if current_site.comms_options[:email_comments] == true %> onchange="$.ajax({url : '<%= geturl %>?email_comments=1'});">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Number of recent comments to show 
        </td>
        <td>
            <% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
            <select onchange="$.ajax({url : '<%= geturl %>?last_x_comments='+$(this).val()});" name="last_x_comments" id="last_x_comments" class="selectpicker" data-style="btn-info btn-mini">
            <% (0..10).each do |i| %>
                <option value="<%=i%>" <%=raw ' selected ' if i==current_site.homepage_options[:last_x_comments] %>><%=i%></option>
            <% end %>
            </select>
        </td>
    </tr>

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('.switch')['bootstrapSwitch']();
        $('.selectpicker').selectpicker({
            'dropupAuto': true
        });
    });
</script>
