<div id="notice_bar">
<div class="alert alert-info">
<%= render :partial => 'settings/homepage_help' %>
</div>
<%= form_tag({:controller => :settings, :action => :site_update}, :remote => true, :id => 'site_update' , :authenticity_token => form_authenticity_token ) do |f| %>
<table border="0" width="100%">
	<tr>
		<td>
			Include about page on homepage ?
		</td>
		<td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
            	<% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
                <input type="checkbox" <%=raw ' checked ' if @site.homepage_options[:about_on_homepage] == true %> onchange="$.ajax({url : '<%= geturl %>?about_on_homepage=1'});">
            </div><br/><br/>
		</td>
	</tr>
    <tr>
        <td>
            Dropdown menus ?
        </td>
        <td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
                <% geturl = url_for :controller => 'settings', :action => 'nav_menu' %>
                <input type="checkbox" <%=raw ' checked ' if @site.nav_menu == false %> onchange="$.ajax({url : '<%= geturl %>' });">
            </div><br/><br/>
        </td>
    </tr>
    <tr>
        <td>
           <% geturl = url_for :controller => 'settings', :action => 'about_on_menu' %>
            Show about on main menu ?
        </td>
        <td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
            <input type="checkbox" <%=raw ' checked ' if current_site.show_about %> onchange="$.ajax ({url : '<%= geturl %>' });">
            </div><br/><br/>
        </td>
    </tr>
    <tr>
        <td>
            Show top navigation bar ?
        </td>
        <td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
                <% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
                <input type="checkbox" <%=raw ' checked ' if @site.homepage_options[:show_navbar] == true %> onchange="$.ajax({url : '<%= geturl %>?show_navbar=1' });">
            </div><br/><br/>
        </td>
    </tr>

    <tr>
        <td>
            Number of random items to show
        </td>
        <td>
            <% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
            <select onchange="$.ajax({url : '<%= geturl %>?random_x_items='+$(this).val()});" name="random_x_items" id="random_x_items" class="btn btn-mini">
            <% (0..10).each do |i| %>
                <option value="<%=i%>" <%=raw ' selected ' if i==@site.homepage_options[:random_x_items] %>><%=i%></option>
            <% end %>
            </select>
            <span class="caret"></span>
        </td>
    </tr>
	<tr>
		<td>
			Number of recent items to show
		</td>
		<td>
			<% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
			<select onchange="$.ajax({url : '<%= geturl %>?last_x_items='+$(this).val()});" name="last_x_items" id="last_x_items" class="btn btn-mini">
			<% (0..10).each do |i| %>
				<option value="<%=i%>" <%=raw ' selected ' if i==@site.homepage_options[:last_x_items] %>><%=i%></option>
			<% end %>
			</select>
			<span class="caret"></span><br/><br/>
		</td>
	</tr>
    <tr>
        <td>
            Limit recents items to those with images ?
        </td>
        <td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
                <% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
                <input type="checkbox" <%=raw ' checked ' if @site.homepage_options[:last_x_items_images] == true %> onchange="$.ajax({url : '<%= geturl %>?last_x_items_images=1' });">
            </div><br/><br/>
        </td>
    </tr>
    <tr>
        <td>
            Limit random items to those with images ?
        </td>
        <td>
            <div class="switch switch-mini" data-on="success" data-off="warning">
                <% geturl = url_for :controller => 'settings', :action => 'homepage_update' %>
                <input type="checkbox" <%=raw ' checked ' if @site.homepage_options[:random_x_items_images] == true %> onchange="$.ajax({url : '<%= geturl %>?random_x_items_images=1' });">
            </div><br/><br/>
        </td>
    </tr>

</table>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('.switch')['bootstrapSwitch']();
    });
</script>
