<div id="notice_bar">
<div class="alert alert-info">
<%= render :partial => 'settings/site_help' %>
</div>
</div>
<div>
    <%= render :partial => 'settings/site_image' %>
</div>
<%= form_tag({:controller => :settings, :action => :site_update}, :remote => true, :id => 'site_update' , :authenticity_token => form_authenticity_token ) do |f| %>
<table border="0" width="100%">
    <tr>
        <td>
              Site header&nbsp;<span class="label label-info" style="cursor:help;" title="This sets the name of the site that appears on the top left.">?</span>
        </td>
        <td>
            <%= text_field_tag 'site[header]', @site.header, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td>
              Site tagline&nbsp;<span class="label label-info" style="cursor:help;" title="This sets the text that appears to the right of the site name set above.">?</span>
        </td>
        <td>
            <%= text_field_tag 'site[tagline]', @site.tagline, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td>
            Site title&nbsp;<span class="label label-info" style="cursor:help;" title="This changes the text that appears at the top of the browser window.">?</span>
        </td>
        <td>
            <%= text_field_tag 'site[title]', @site.title, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td valign="top">
            Meta keywords
        </td>
        <td>
            <%= text_area_tag 'site[meta_keywords]', @site.meta_keywords, :rows => 5, :cols => 50 %>
        </td>
    </tr>
    <tr>
        <td valign="top">
            Meta description
        </td>
        <td>
            <%= text_area_tag 'site[meta_description]', @site.meta_description, :rows => 5, :cols => 50  %>
        </td>
    </tr>
    <%= render :partial => 'extra_settings' %>
    <tr>
        <td>
            Footer&nbsp;<span class="label label-info" style="cursor:help;" title="This changes the text that appears at the bottom of the main website. You can use html tags in this field.">?</span>
        </td>
        <td>
            <%= text_area_tag 'site[footer]', @site.footer, :rows => 5, :cols => 50 %>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <button onclick="$('#site_update').submit();return false;" class="btn btn-primary btn-mini" type="button" id="save_button">Update</button>
        </td>
    </tr>
</table>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('.switch')['bootstrapSwitch']();
    });
</script>

