<div id="notice_bar">
<div class="alert alert-info">
<%= render :partial => 'settings/site_help' %>
</div>
</div>
<div>
    <%= render :partial => 'settings/site_image' %>
</div>
<%= form_tag({:controller => :settings, :action => :site_update}, :remote => true, :id => 'site_update' , :authenticity_token => form_authenticity_token ) do |f| %>
<table border="0" width="100%">
    <tr>
        <td>
              Site header
        </td>
        <td>
            <%= text_field_tag 'site[header]', @site.header, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td>
              Site tagline
        </td>
        <td>
            <%= text_field_tag 'site[tagline]', @site.tagline, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td>
            Site title
        </td>
        <td>
            <%= text_field_tag 'site[title]', @site.title, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td valign="top">
            Meta keywords
        </td>
        <td>
            <%= text_area_tag 'site[meta_keywords]', @site.meta_keywords, :rows => 5, :cols => 50 %>
        </td>
    </tr>
    <tr>
        <td valign="top">
            Meta description
        </td>
        <td>
            <%= text_area_tag 'site[meta_description]', @site.meta_description, :rows => 5, :cols => 50  %>
        </td>
    </tr>
    <tr>
        <td>
            Site owner
        </td>
        <td>
            <%= text_field_tag 'site[owner]', @site.owner, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td>
            Owner email
        </td>
        <td>
            <%= text_field_tag 'site[email]', @site.email, :size => 50 %>
        </td>
    </tr>
    <tr>
        <td>
            Username
        </td>
        <td>
            <%= text_field_tag 'site[username]', @site.username, :size => 20 %>
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <%= password_field_tag 'password1', '', :size => 20 %>
        </td>
    </tr>
    <tr>
        <td>
            Confirm
        </td>
        <td>
            <%= password_field_tag 'password2', '', :size => 20 %>
        </td>
    </tr>
    <tr>
        <td>
            Footer
        </td>
        <td>
            <%= text_area_tag 'site[footer]', @site.footer, :rows => 5, :cols => 50 %>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button onclick="$('#site_update').submit();return false;" class="btn btn-primary btn-mini" type="button" id="save_button">Update</button>
        </td>
    </tr>
</table>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('.switch')['bootstrapSwitch']();
    });
</script>

