<div class="row-fluid">
  <div class="span2">
    <% geturl = url_for :controller => 'gallery', :action => 'item_view', :id => item.slug %>
    <%= image_tag(item.mainimage.url(:list), {:onclick => "$.ajax({url : '" + geturl + "'});", :style => 'cursor:pointer', :class => 'img-polaroid'}) if !item.mainimage.blank? %>
  </div>
  <div class="span10">
  	<strong><%= item.name %></strong><br/>
  	Collection ID : <%= item.collection_id %><br/>
  	Year : <%= item.year %><br/>
  	Reference : <%= item.reference_number %><br/>
  	Acquired date : <%= item.aquire_date %><br/>
  	<% if item.virtualcollections.count > 0 %>
  	Collections :
  	<% item.virtualcollections.each do |collection| %>
        <%= collection.name %> <%= ' / ' if collection != item.virtualcollections.last %>
    <% end %><br/>
    <% end %>
    Condition :
    <% item.conditions.each do |condition| %>
        <%= condition.name %> <%= ' / ' if condition != item.conditions.last %>
    <% end %><br/>
    <% item.thingfields.each do |field| %>
    <% if !field.name.blank? then %>
    	<%= field.name %> :
                <% options = item.fieldoptions.all(:conditions => ['fieldoptions.thingfield_id = ?',field.id]) %>
                <% options.each do |option| %>
                <%= option.name %> <%= ' / ' if option != options.last %>
            <% end %><br/>
    <% end %>
    <% end %>
    <% if !item.note.blank? %>
    <table border="0">
    <tr><td valign="top">Note : </td>
    <td><%=raw item.note.gsub("\n","<br/>") %></td>
    </table>
    <% end %>
  </div>
</div>
