<% if defined? @header_text %>
<div style="float:left;">
<h4><%= @header_text %></h4>
</div>
<div style="float:right;padding-top:8px;line-height:17px;">

<% if defined? @fieldoption %>
<%= link_to("List view" %>
<% end %>

</div>
<div style="clear:both;"></div>
<% end %>
<% if current_site.item_view_options[:list_type] == "Accordion" %>
<div class="accordion" id="fieldslist">
<% items.each do |item| %>
    <%= render :partial => 'items/item_accordion_in_list', :locals => {:item => item} %>
<% end %>
</div>
<script>
    $('.accordion-body').on('shown.bs.collapse',function() {
        geturl = "<%= url_for :controller => 'items', :action => 'details_brief' %>";
        $.ajax({url : geturl + "?id=" + this.id});
    });
</script>
<% end %>

<% if current_site.item_view_options[:list_type] == "Detailed" %>
<% items.each do |item| %>
    <%= render :partial => 'items/item_detailed_list', :locals => {:item => item} %>
    <hr/>
<% end %>
<% end %>

<% if current_site.item_view_options[:list_type] == "Simple" %>
<% items.each do |item| %>
    <%= render :partial => 'items/item_simple_list', :locals => {:item => item} %>
    <hr/>
<% end %>
<% end %>

<% if current_site.item_view_options[:list_type] == "2 Column" %>
<hr/>
<% items.each_with_index do |item,index| %>

    <%= render :partial => 'items/item_simple2col_list', :locals => {:item => item, :index => index} %>
    <%= raw'<hr/>' if index.odd? %>
<% end %>
<% end %>
<% if !defined? @is_home_page %>
<div style="clear:both;"></div>
<div style="text-align:center;"><%= will_paginate items, renderer: BootstrapPagination::Rails %></div>
<% end %>
