<div id="notice_bar">
<% if current_site.items_help? then  %>
<div class="alert alert-info">
<%= render :partial => 'items/item_help' %>
</div>
<% end %>
</div>
<div style="text-align:center">
    <% (0..9).each do |t| %>
        <% geturl = url_for :controller => 'items', :action => 'edit_list', :letter => t.to_s %>
        <% if @alphabet_list.include?(t.to_s) then %>
            <button class="btn btn-link btn-info" onclick="$.ajax({url : '<%= geturl %>'});">
                <%= t %>
            </button>
        <% end %>
    <% end %>
    <% ('A'..'Z').each do |t| %>
        <% geturl = url_for :controller => 'items', :action => 'edit_list', :letter => t %>
        <% if @alphabet_list.include?(t) then %>
            <button class="btn btn-link btn-info" onclick="$.ajax({url : '<%= geturl %>'});">
                <%= t %>
            </button>
        <% end %>
    <% end %>
    </div>
    <% geturl = url_for :controller => 'items', :action => 'new' %>
    <div style="margin:0 auto;text-align:center;">
    <button class="btn btn-primary btn-mini" onclick="$.ajax({url : '<%= geturl %>'});" style="width:75px;">
        Add
    </button>
    <% geturl = url_for :controller => 'items', :action => 'edit_list', :letter => 'ALL' %>
    <button class="btn btn-info btn-mini" onclick="$.ajax({url : '<%= geturl %>'});" style="width:75px;">
        ALL
    </button>

    <% geturl = url_for :controller => 'items', :action => 'edit_list', :letter => 'RECENT' %>
    <button class="btn btn-info btn-mini" onclick="$.ajax({url : '<%= geturl %>'});" style="width:75px;">
       RECENT
    </button>
    </div>
<div id="item_edit_list">
    <%= render :partial => 'items/edit_list' %>
</div>
