<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag("application") %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title><%= current_site.title%></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
        <%=raw current_site.tracker_code %>
</head>
<body <%=raw 'style="padding-top: 10px;"' if current_site.homepage_options[:show_navbar] == false %>>
<% if current_site.homepage_options[:show_navbar] == true then %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container" id="main_header">
          <%= render 'main/navigation' %>
        </div>
      </nav>
    </header>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="left-menu">
        <%= render 'main/menu' if current_site.nav_menu == false %>
        <%= render 'main/nav_menu' if current_site.nav_menu == true %>
    </div>
    <div class="span10" id="center">
        <%= yield %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="footer">
        <%=raw current_site.footer %>
    </div>
  </div>
</div>
<div id="overlay_box"></div>
</body>
</html>
